.version.advsearch /* version checker */
{
	color: #0000F0;
	background-color: #A1A600;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 700px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#pamphletu888
{
	z-index: 102;
	width: 0.01px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u903
{
	z-index: 103;
	width: 44px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u904
{
	width: 44px;
	padding-bottom: 6px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u904:hover
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u904:active
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u886
{
	z-index: 105;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 50%;
	left: -16px;
}

#u904:hover #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904:active #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904.PamphletThumbSelected #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u893
{
	position: absolute;
	width: 640px;
	padding-bottom: 44px;
	top: 44px;
}

#u893popup
{
	z-index: 107;
}

#u894
{
	z-index: 108;
	width: 596px;
	height: 326px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#menuu895
{
	z-index: 109;
	width: 596px;
	position: relative;
	margin-right: -10000px;
}

#u896
{
	width: 596px;
	position: relative;
}

#u899
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u902-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u958
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u960-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2410
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u2412-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3217
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3218-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3370
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3371-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3919
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3920-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u957,#u2409,#u3216,#u3367,#u3916,#u2569
{
	width: 596px;
	margin-top: 2px;
	position: relative;
}

#u2570
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u899.MuseMenuActive,#u958.MuseMenuActive,#u2410.MuseMenuActive,#u3217.MuseMenuActive,#u3370.MuseMenuActive,#u3919.MuseMenuActive,#u2570.MuseMenuActive
{
	width: 596px;
	min-height: 16px;
	margin: 0px -10000px 1px 0px;
}

#u2571-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u899.MuseMenuActive #u902-4,#u958.MuseMenuActive #u960-4,#u2410.MuseMenuActive #u2412-4,#u3217.MuseMenuActive #u3218-4,#u3370.MuseMenuActive #u3371-4,#u3919.MuseMenuActive #u3920-4,#u2570.MuseMenuActive #u2571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 596px;
	margin: 0px -10000px 0px 0px;
}

#u889
{
	position: absolute;
	width: 596px;
	padding-bottom: 6px;
	top: 250px;
	left: 22px;
}

#u890-4
{
	z-index: 153;
	width: 596px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
}

#pu171
{
	width: 0.01px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u171
{
	z-index: 101;
	width: 640px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -320px;
}

#u2283
{
	z-index: 157;
	width: 640px;
	height: 1px;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: -320px;
}

#u3239
{
	z-index: 173;
	width: 159px;
	height: 27px;
	position: fixed;
	top: 9px;
	left: 50%;
	margin-left: -253px;
}

#u3240-4
{
	z-index: 174;
	width: 133px;
	min-height: 19px;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -249px;
}

#u3892
{
	z-index: 2;
	width: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 50%;
	left: -235px;
}

#u3894-4
{
	z-index: 3;
	width: 309px;
	min-height: 40px;
	background-color: transparent;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -155px;
}

#u3893-6
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	margin-left: 0%;
	left: 83px;
}

#u3895
{
	z-index: 13;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u4012
{
	z-index: 54;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	width: 9.38%;
	left: 24.07%;
}

#pu4052
{
	margin-right: -10000px;
	margin-top: 159px;
	width: 50.79%;
	margin-left: 24.61%;
}

#u4052
{
	z-index: 62;
	width: 325px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -162.5px;
}

#u4054-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-left: 0%;
	left: 10px;
}

#u4053
{
	z-index: 63;
	width: 323px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-top: 12px;
	position: relative;
	margin-left: 50%;
	left: -163px;
}

#u4055-4
{
	z-index: 64;
	width: 300px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -159px;
}

#u3957
{
	z-index: 19;
	width: 325px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -162.5px;
}

#u3939-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-left: 0%;
	left: 10px;
}

#u3898
{
	z-index: 20;
	width: 147px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -162.5px;
}

#u3891-4
{
	z-index: 21;
	width: 123px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -71px;
}

#u3942
{
	z-index: 29;
	width: 147px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13.499999999999998px;
}

#u3943-4
{
	z-index: 30;
	width: 123px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -71px;
}

#u3960
{
	z-index: 34;
	width: 325px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -162.5px;
}

#u3961-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-left: 0%;
	left: 10px;
}

#pu3898,#pu3963
{
	margin-top: 12px;
	width: 99.7%;
	margin-left: 0.16%;
}

#u3963
{
	z-index: 35;
	width: 147px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -162.5px;
}

#u3965-4
{
	z-index: 36;
	width: 123px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -71px;
}

#u3964
{
	z-index: 44;
	width: 147px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13.499999999999998px;
}

#u3962-4
{
	z-index: 45;
	width: 123px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -71px;
}

#u3978
{
	z-index: 49;
	width: 304px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -152.5px;
}

#u3981-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-left: 0%;
	left: 0px;
}

#u3245
{
	position: relative;
	left: -50%;
	margin-left: 14.5px;
	width: 100%;
	max-width: 29px;
}

#u3245-wrapper
{
	position: fixed;
	top: 9px;
	z-index: 178;
	left: 50%;
	margin-left: -121px;
	width: 4.54%;
	max-width: 29px;
}

#u4019
{
	z-index: 56;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	width: 9.38%;
	left: 38.13%;
}

#u4019_img
{
	padding-bottom: 5px;
	width: 100%;
}

#u2297
{
	z-index: 158;
	width: 138px;
	padding-bottom: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1053
{
	z-index: 161;
	width: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1046
{
	z-index: 159;
	width: 95px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -26px;
}

#buttonu3896
{
	z-index: 14;
	width: 98px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	margin-left: 50%;
	left: -49px;
}

#buttonu3896:hover
{
	background-color: #D5D5D5;
	width: 98px;
	min-height: 0px;
	left: -49px;
	margin: 556px -10000px 0px 50%;
}

#u3897-4
{
	z-index: 15;
	width: 61px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu3896:hover #u3897-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu3896:hover #u3897-4 p
{
	color: #42410B;
	visibility: inherit;
}

#buttonu3896.ButtonSelected #u3897-4 p
{
	color: #000000;
	visibility: inherit;
}

#u4026
{
	z-index: 58;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	width: 9.38%;
	left: 52.19%;
}

#u4033
{
	z-index: 60;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	width: 9.38%;
	left: 66.25%;
}

#u4012:hover,#u4019:hover,#u4026:hover,#u4033:hover
{
	border-style: solid;
	border-width: 3px;
	min-height: 0px;
	width: 9.38%;
	margin: 473px -10002px -2px -0.3125%;
}

#buttonu2444
{
	z-index: 163;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 111px;
}

#buttonu2444:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2445-4
{
	z-index: 164;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu3896.ButtonSelected #u3897-4,#buttonu2444:hover #u2445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450
{
	z-index: 168;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 5px;
}

#buttonu2444.ButtonSelected,#buttonu2450:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2450.ButtonSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2451-4
{
	z-index: 169;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2444.ButtonSelected #u2445-4,#buttonu2450:hover #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450.ButtonSelected #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#u2194
{
	z-index: 72;
	height: 88px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2188
{
	z-index: 73;
	width: 315px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 50%;
	left: -130px;
}

#pu2150-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 36.51%;
	margin-left: 31.75%;
}

#u2150-4
{
	z-index: 96;
	position: relative;
	margin-left: 0%;
	left: -54px;
}

#u2148
{
	z-index: 90;
	height: 14px;
	width: 69px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -112px;
}

#u2144-6
{
	z-index: 74;
	margin-top: 12px;
	position: relative;
	margin-left: 0%;
	left: -100px;
}

#u2151
{
	z-index: 100;
	width: 83px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 50%;
	left: -69px;
}

#pu2149-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 53.97%;
	margin-left: 23.02%;
}

#u2149-4
{
	z-index: 92;
	position: relative;
	margin-left: 0%;
	left: 72.5px;
}

#u2147
{
	z-index: 87;
	height: 14px;
	width: 155px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2146
{
	z-index: 84;
	height: 16px;
	width: 155px;
	margin-top: 5px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2145
{
	z-index: 81;
	height: 14px;
	width: 170px;
	margin-top: 2px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 17px;
}

#u4012_img,#u4026_img,#u4033_img,#u3245_img
{
	width: 100%;
}

