.version.c_index_list /* version checker */
{
	color: #0000F4;
	background-color: #EDB784;
}

#page
{
	z-index: 1;
	min-height: 1589.55px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 70.45000000000005px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#u3354
{
	z-index: 122;
	min-height: 62px;
	background-color: #FAFAFA;
}

#u3354_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 640px;
}

#pu3357-5
{
	margin-right: -10000px;
	width: 27.97%;
	margin-left: 0.94%;
}

#u3357-5
{
	z-index: 123;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	font-family: sarina, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3357-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3357
{
	line-height: 58px;
}

#u3357-2
{
	font-size: 36px;
	color: #000000;
	font-family: myriad-std-tilt, sans-serif;
	font-weight: 400;
	line-height: 43px;
}

#u3343
{
	z-index: 128;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 31.85%;
	left: 12.3%;
}

#u3334
{
	z-index: 131;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.54%;
	left: 45.32%;
}

#u3351
{
	z-index: 133;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 9.07%;
	left: 88.44%;
}

.js body.initialized
{
	visibility: visible;
}

#u3354-bw
{
	z-index: 122;
	min-height: 62px;
}

#u3353
{
	z-index: 130;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	width: 100%;
}

#slideshowu3374
{
	z-index: 2;
	width: 0.01px;
	height: 478px;
	margin-top: 3px;
	position: relative;
	margin-left: 50%;
	left: -320px;
}

#u3375popup
{
	z-index: 3;
}

#u3380
{
	z-index: 4;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3376
{
	z-index: 6;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3378
{
	z-index: 8;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3397-4popup
{
	z-index: 10;
}

#u3394-4popup
{
	z-index: 14;
}

#u3396-4popup
{
	z-index: 18;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu3477
{
	margin-top: -478px;
	width: 100%;
}

#u3477
{
	z-index: 22;
	width: 45px;
	background-color: transparent;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -312px;
}

#pu3480-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 35%;
	margin-left: 32.5%;
}

#u3480-4
{
	z-index: 24;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -259px;
}

#u3520
{
	z-index: 31;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -259px;
}

#u3521
{
	z-index: 32;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -54px;
}

#u3522
{
	z-index: 33;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u3525
{
	z-index: 34;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -32px;
}

#u3523
{
	z-index: 35;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13px;
}

#u3524
{
	z-index: 36;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 35px;
}

#u3526
{
	z-index: 37;
	width: 10px;
	height: 19px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 50%;
	left: 44px;
}

#u3486
{
	z-index: 29;
	height: 21px;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 50%;
	left: 43px;
	background: transparent url("../images/u3486.png") no-repeat 0px 0px;
}

#u3486:hover
{
	margin-left: 50%;
	left: 43px;
	background: transparent url("../images/u3486-r.png") no-repeat 0px 0px;
}

#u3584
{
	z-index: 38;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 4.38%;
	left: 90.47%;
}

#u3590
{
	z-index: 39;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	width: 114.29%;
	left: -10.72%;
}

#u3600
{
	z-index: 41;
	height: 1px;
	margin-top: 5px;
	position: relative;
	width: 97.04%;
	margin-left: 1.25%;
}

#slideshowu3603
{
	z-index: 42;
	width: 0.01px;
	height: 478px;
	margin-top: 5px;
	position: relative;
	margin-left: 50%;
	left: -320px;
}

#u3604popup
{
	z-index: 43;
}

#u3605
{
	z-index: 44;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3607
{
	z-index: 46;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3609
{
	z-index: 48;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3622-4popup
{
	z-index: 50;
}

#u3612-4popup
{
	z-index: 54;
}

#u3613-4popup
{
	z-index: 58;
}

#u3629
{
	z-index: 62;
	width: 45px;
	background-color: transparent;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -312px;
}

#u3631-4
{
	z-index: 64;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -259px;
}

#u3633
{
	z-index: 71;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -259px;
}

#u3637
{
	z-index: 72;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -54px;
}

#u3639
{
	z-index: 73;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u3634
{
	z-index: 74;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -32px;
}

#u3636
{
	z-index: 75;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13px;
}

#u3635
{
	z-index: 76;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 35px;
}

#u3638
{
	z-index: 77;
	width: 10px;
	height: 19px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 50%;
	left: 44px;
}

#u3632
{
	z-index: 69;
	height: 21px;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 50%;
	left: 43px;
	background: transparent url("../images/u3632.png") no-repeat 0px 0px;
}

#u3632:hover
{
	margin-left: 50%;
	left: 43px;
	background: transparent url("../images/u3632-r.png") no-repeat 0px 0px;
}

#u3640
{
	z-index: 78;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 4.38%;
	left: 90.47%;
}

#u3641
{
	z-index: 79;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	width: 114.29%;
	left: -10.72%;
}

#u3643
{
	z-index: 81;
	height: 1px;
	margin-top: 6px;
	position: relative;
	width: 97.04%;
	margin-left: 1.25%;
}

.ie #u3600,.ie #u3643
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#slideshowu3744
{
	z-index: 82;
	width: 0.01px;
	height: 478px;
	margin-top: 5px;
	position: relative;
	margin-left: 50%;
	left: -320px;
}

#u3375,#u3604,#u3745
{
	position: absolute;
	width: 640px;
	height: 427px;
	background-color: transparent;
	top: 51px;
}

#u3745popup
{
	z-index: 83;
}

#u3746
{
	z-index: 84;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3748
{
	z-index: 86;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3750
{
	z-index: 88;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3397-4,#u3622-4,#u3763-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	padding: 15px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 207px;
}

#u3763-4popup
{
	z-index: 90;
}

#u3394-4,#u3612-4,#u3753-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	padding: 15px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 207px;
	left: 600px;
}

#u3753-4popup
{
	z-index: 94;
}

#u3396-4,#u3613-4,#u3754-4
{
	position: absolute;
	width: 57px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 553px;
}

#u3754-4popup
{
	z-index: 98;
}

.js body,#u3396-2,#u3613-2,#u3754-2
{
	visibility: hidden;
}

#pu3629,#pu3770
{
	margin-top: -477px;
	width: 100%;
}

#u3770
{
	z-index: 102;
	width: 45px;
	background-color: transparent;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -319px;
}

#u3477 .clip_frame,#u3629 .clip_frame,#u3770 .clip_frame
{
	-webkit-border-radius: 29px 29px 29px 29px;
}

#pu3631-4,#pu3772-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	width: 35%;
	margin-left: 32.5%;
}

#u3772-4
{
	z-index: 104;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -266px;
}

#u3774
{
	z-index: 111;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -266px;
}

#u3778
{
	z-index: 112;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -54px;
}

#u3780
{
	z-index: 113;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u3775
{
	z-index: 114;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -32px;
}

#u3777
{
	z-index: 115;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13px;
}

#u3776
{
	z-index: 116;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 35px;
}

#u3779
{
	z-index: 117;
	width: 10px;
	height: 19px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 50%;
	left: 44px;
}

#u3773
{
	z-index: 109;
	height: 21px;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 50%;
	left: 36px;
	background: transparent url("../images/u3773.png") no-repeat 0px 0px;
}

#u3773:hover
{
	margin-left: 50%;
	left: 36px;
	background: transparent url("../images/u3773-r.png") no-repeat 0px 0px;
}

#u3781
{
	z-index: 118;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 4.38%;
	left: 89.38%;
}

#u3782
{
	z-index: 119;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	width: 114.29%;
	left: -10.72%;
}

#u3328
{
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u3328-wrapper
{
	position: fixed;
	bottom: 128px;
	z-index: 145;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u3885
{
	z-index: 121;
	height: 59px;
	background-color: #FFFFFF;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#pu3337
{
	padding-bottom: 50px;
	margin-top: -53px;
	width: 100%;
}

#u3337
{
	height: 48px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 282px;
	width: 100%;
	max-width: 560px;
}

#u3337:hover
{
	border-color: #91FFFF;
	background-color: #91FFFF;
	height: 48px;
	min-height: 0px;
	width: 100%;
	max-width: 560px;
	margin: 0px 0px 0px 282px;
}

#u3337-wrapper
{
	position: fixed;
	bottom: 72px;
	z-index: 146;
	left: 50%;
	margin-left: -282px;
	width: 87.5%;
	max-width: 560px;
}

#u3345-4
{
	min-height: 29px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	left: -50%;
	margin-left: 212.5px;
	width: 100%;
	max-width: 425px;
}

#u3345-4-wrapper
{
	position: fixed;
	bottom: 83px;
	z-index: 147;
	left: 50%;
	margin-left: -213px;
	width: 66.41%;
	max-width: 425px;
}

#u3350
{
	z-index: 136;
	height: 62px;
	background-color: #FAFAFA;
	position: fixed;
	bottom: 6px;
}

#u3350-bw
{
	z-index: 136;
}

#u3349
{
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u3349-wrapper
{
	position: fixed;
	bottom: 68px;
	z-index: 135;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u3347-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 137;
	left: 50%;
	margin-left: -270px;
	width: 9.38%;
	max-width: 60px;
}

#u3347,#u3329
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 30px;
	width: 100%;
	max-width: 60px;
}

#u3329-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 143;
	left: 50%;
	margin-left: 210px;
	width: 9.38%;
	max-width: 60px;
}

#u3355-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 139;
	left: 50%;
	margin-left: -105px;
	width: 7.82%;
	max-width: 50px;
}

#u3355,#u3338
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 25px;
	width: 100%;
	max-width: 50px;
}

#u3343_img,#u3334_img,#u3351_img,#u3590_img,#u3641_img,#u3782_img,#u3347_img,#u3329_img,#u3355_img,#u3338_img
{
	width: 100%;
}

#u3338-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 141;
	left: 50%;
	margin-left: 55px;
	width: 7.82%;
	max-width: 50px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

