.version.c_index /* version checker */
{
	color: #000008;
	background-color: #DAF8F3;
}

#page
{
	z-index: 1;
	min-height: 878px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 90px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#u3256
{
	z-index: 2;
	min-height: 62px;
	background-color: #FAFAFA;
}

#u3256_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 640px;
}

#pu3237-5
{
	margin-right: -10000px;
	width: 27.97%;
	margin-left: 0.94%;
}

#u3237-5
{
	z-index: 3;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	font-family: sarina, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3237-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3237
{
	line-height: 58px;
}

#u3237-2
{
	font-size: 36px;
	color: #000000;
	font-family: myriad-std-tilt, sans-serif;
	font-weight: 400;
	line-height: 43px;
}

#u3228
{
	z-index: 8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 31.85%;
	left: 12.3%;
}

#u3241
{
	z-index: 11;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.54%;
	left: 45.32%;
}

#u3223
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 9.07%;
	left: 88.44%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3256-bw
{
	z-index: 2;
	min-height: 62px;
}

#u3250
{
	z-index: 10;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	width: 100%;
}

#pu3246
{
	margin-top: 1px;
	width: 100%;
}

#u3246
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3248-4
{
	z-index: 62;
	min-height: 26px;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #000000;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 45.32%;
	left: 27.04%;
}

#u3248-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 45.32%;
	margin: 36px -10000px 0px 0%;
}

#u3218
{
	z-index: 66;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	width: 5.32%;
	left: 67.82%;
}

#u3243
{
	z-index: 25;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	width: 100%;
}

#pu3225-4
{
	margin-top: 10px;
	width: 100%;
}

#u3225-4
{
	z-index: 26;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 36.41%;
	left: 7.19%;
}

#u3227-4
{
	z-index: 34;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 36.41%;
	left: 54.85%;
}

#pu3255-4
{
	margin-top: 6px;
	width: 100%;
}

#u3255-4
{
	z-index: 30;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 28.44%;
	left: 7.5%;
}

#u3255-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 28.44%;
	margin: -1px -10000px -1px 0%;
}

#u3234-4
{
	z-index: 38;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 14.38%;
	left: 55.16%;
}

#u3234-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 14.38%;
	margin: -1px -10000px -1px 0%;
}

#u3254-4
{
	z-index: 42;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #000000;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 14.69%;
	left: 69.38%;
}

#u3220-4
{
	z-index: 46;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
	width: 36.41%;
	margin-left: 7.19%;
}

#u3235-4
{
	z-index: 50;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
	width: 28.44%;
	margin-left: 7.5%;
}

#u3235-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 28.44%;
	margin: 4px 0px 0px 7.5%;
}

#u3232
{
	z-index: 54;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u3253
{
	z-index: 55;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 9px;
	margin-top: 4px;
	position: relative;
	width: 87.5%;
	margin-left: 5.94%;
}

#u3253:hover
{
	border-color: #91FFFF;
	background-color: #91FFFF;
	min-height: 0px;
	width: 87.5%;
	margin: 4px 0px 0px 5.9375%;
}

#u3226-4
{
	z-index: 56;
	min-height: 29px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 75.9%;
	left: 11.97%;
}

#u3233
{
	z-index: 16;
	height: 62px;
	background-color: #FAFAFA;
	position: fixed;
	bottom: 6px;
}

#u3233-bw
{
	z-index: 16;
}

#u3244
{
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u3244-wrapper
{
	position: fixed;
	bottom: 68px;
	z-index: 15;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u3238-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 17;
	left: 50%;
	margin-left: -270px;
	width: 9.38%;
	max-width: 60px;
}

#u3238,#u3251
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 30px;
	width: 100%;
	max-width: 60px;
}

#u3251-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 23;
	left: 50%;
	margin-left: 210px;
	width: 9.38%;
	max-width: 60px;
}

#u3230-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 19;
	left: 50%;
	margin-left: -105px;
	width: 7.82%;
	max-width: 50px;
}

#u3230,#u3221
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 25px;
	width: 100%;
	max-width: 50px;
}

#u3228_img,#u3241_img,#u3223_img,#u3218_img,#u3238_img,#u3251_img,#u3230_img,#u3221_img
{
	width: 100%;
}

#u3221-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 21;
	left: 50%;
	margin-left: 55px;
	width: 7.82%;
	max-width: 50px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

