.version.c_index_sug /* version checker */
{
	color: #0000E0;
	background-color: #679328;
}

#page
{
	z-index: 1;
	min-height: 1721px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 76px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#u4199
{
	z-index: 152;
	min-height: 62px;
	background-color: #FAFAFA;
}

#u4199_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 640px;
}

#pu4155-5
{
	margin-right: -10000px;
	width: 27.97%;
	margin-left: 0.94%;
}

#u4155-5
{
	z-index: 153;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	font-family: sarina, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u4155-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4155
{
	line-height: 58px;
}

#u4155-2
{
	font-size: 36px;
	color: #000000;
	font-family: myriad-std-tilt, sans-serif;
	font-weight: 400;
	line-height: 43px;
}

#u4190
{
	z-index: 158;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 31.85%;
	left: 12.3%;
}

#u4064
{
	z-index: 161;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.54%;
	left: 45.32%;
}

#u4066
{
	z-index: 163;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 9.07%;
	left: 88.44%;
}

.js body.initialized
{
	visibility: visible;
}

#u4199-bw
{
	z-index: 152;
	min-height: 62px;
}

#u4115
{
	z-index: 160;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	width: 100%;
}

#pu4236
{
	margin-top: 8px;
	width: 100%;
}

#u4236
{
	z-index: 106;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 19.38%;
}

#u4245-4
{
	z-index: 108;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 50%;
	left: -77px;
}

#pu4248
{
	margin-top: -5px;
	width: 100%;
}

#u4248
{
	z-index: 112;
	height: 2px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 99.85%;
}

#u4251-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 3.75%;
	left: 49.22%;
}

#u4254-5
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
	margin-left: 0%;
	left: 46px;
}

#slideshowu4162
{
	z-index: 2;
	width: 0.01px;
	height: 478px;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -320px;
}

#u4170popup
{
	z-index: 3;
}

#u4175
{
	z-index: 4;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4171
{
	z-index: 6;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4173
{
	z-index: 8;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4164-4popup
{
	z-index: 10;
}

#u4177-4popup
{
	z-index: 14;
}

#u4178-4popup
{
	z-index: 18;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4202
{
	z-index: 22;
	width: 45px;
	background-color: transparent;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -302px;
}

#u4189-4
{
	z-index: 24;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -249px;
}

#u4074
{
	z-index: 31;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -249px;
}

#u4075
{
	z-index: 32;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -54px;
}

#u4080
{
	z-index: 33;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u4077
{
	z-index: 34;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -32px;
}

#u4076
{
	z-index: 35;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13px;
}

#u4079
{
	z-index: 36;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 35px;
}

#u4078
{
	z-index: 37;
	width: 10px;
	height: 19px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 50%;
	left: 44px;
}

#ppu4156
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 34.22%;
	margin-left: 32.9%;
}

#u4156
{
	z-index: 29;
	height: 21px;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4156.png") no-repeat 0px 0px;
}

#u4156:hover
{
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4156-r.png") no-repeat 0px 0px;
}

#u4264
{
	z-index: 128;
	height: 20px;
	width: 219px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4264.png") no-repeat 0px 0px;
}

#u4264:hover
{
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4264-r.png") no-repeat 0px 0px;
}

#u4258
{
	z-index: 122;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 15.16%;
	left: 83.13%;
}

#u4259-4
{
	z-index: 123;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 75.26%;
	left: 14.44%;
}

#u4200
{
	z-index: 38;
	height: 1px;
	margin-top: 5px;
	position: relative;
	width: 97.04%;
	margin-left: 2.82%;
}

#slideshowu4129
{
	z-index: 39;
	width: 0.01px;
	height: 478px;
	margin-top: 6px;
	position: relative;
	margin-left: 50%;
	left: -320px;
}

#u4148popup
{
	z-index: 40;
}

#u4151
{
	z-index: 41;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4153
{
	z-index: 43;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4149
{
	z-index: 45;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4138-4popup
{
	z-index: 47;
}

#u4143-4popup
{
	z-index: 51;
}

#u4145-4popup
{
	z-index: 55;
}

#u4157
{
	z-index: 59;
	width: 45px;
	background-color: transparent;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -302px;
}

#u4063-4
{
	z-index: 61;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -249px;
}

#u4122
{
	z-index: 65;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -249px;
}

#u4126
{
	z-index: 66;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -54px;
}

#u4124
{
	z-index: 67;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u4127
{
	z-index: 68;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -32px;
}

#u4128
{
	z-index: 69;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13px;
}

#u4125
{
	z-index: 70;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 35px;
}

#u4123
{
	z-index: 71;
	width: 10px;
	height: 19px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 50%;
	left: 44px;
}

#u4267
{
	z-index: 131;
	height: 21px;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4267.png") no-repeat 0px 0px;
}

#u4267:hover
{
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4267-r.png") no-repeat 0px 0px;
}

#u4270
{
	z-index: 139;
	height: 20px;
	width: 219px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4270.png") no-repeat 0px 0px;
}

#u4270:hover
{
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4270-r.png") no-repeat 0px 0px;
}

#u4268
{
	z-index: 133;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 15.16%;
	left: 83.13%;
}

#u4269-4
{
	z-index: 134;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 75.26%;
	left: 14.44%;
}

#u4068
{
	z-index: 72;
	height: 1px;
	margin-top: 5px;
	position: relative;
	width: 97.04%;
	margin-left: 2.82%;
}

.ie #u4200,.ie #u4068
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#slideshowu4086
{
	z-index: 73;
	width: 0.01px;
	height: 478px;
	margin-top: 6px;
	position: relative;
	margin-left: 50%;
	left: -320px;
}

#u4170,#u4148,#u4099
{
	position: absolute;
	width: 640px;
	height: 427px;
	background-color: transparent;
	top: 51px;
}

#u4099popup
{
	z-index: 74;
}

#u4102
{
	z-index: 75;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4100
{
	z-index: 77;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4104
{
	z-index: 79;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4164-4,#u4138-4,#u4111-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	padding: 15px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 207px;
}

#u4111-4popup
{
	z-index: 81;
}

#u4177-4,#u4143-4,#u4096-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	padding: 15px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 207px;
	left: 600px;
}

#u4096-4popup
{
	z-index: 85;
}

#u4178-4,#u4145-4,#u4097-4
{
	position: absolute;
	width: 57px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 553px;
}

#u4097-4popup
{
	z-index: 89;
}

.js body,#u4178-2,#u4145-2,#u4097-2
{
	visibility: hidden;
}

#pu4202,#pu4157,#pu4070
{
	margin-top: -477px;
	width: 100%;
}

#u4070
{
	z-index: 93;
	width: 45px;
	background-color: transparent;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -309px;
}

#u4202 .clip_frame,#u4157 .clip_frame,#u4070 .clip_frame
{
	-webkit-border-radius: 29px 29px 29px 29px;
}

#pu4189-4,#pu4063-4,#pu4160-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	width: 35%;
	margin-left: 32.5%;
}

#u4160-4
{
	z-index: 95;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -256px;
}

#u4192
{
	z-index: 99;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -256px;
}

#u4194
{
	z-index: 100;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -54px;
}

#u4193
{
	z-index: 101;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u4196
{
	z-index: 102;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -32px;
}

#u4195
{
	z-index: 103;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 13px;
}

#u4197
{
	z-index: 104;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 35px;
}

#u4198
{
	z-index: 105;
	width: 10px;
	height: 19px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 50%;
	left: 44px;
}

#ppu4267,#ppu4279
{
	margin-right: -10000px;
	margin-top: 1px;
	width: 34.22%;
	margin-left: 32.9%;
}

#u4279
{
	z-index: 142;
	height: 21px;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4279.png") no-repeat 0px 0px;
}

#u4279:hover
{
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4279-r.png") no-repeat 0px 0px;
}

#u4282
{
	z-index: 150;
	height: 20px;
	width: 219px;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4282.png") no-repeat 0px 0px;
}

#u4282:hover
{
	margin-left: 50%;
	left: -20.5px;
	background: transparent url("../images/u4282-r.png") no-repeat 0px 0px;
}

#u4280
{
	z-index: 144;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 15.16%;
	left: 83.13%;
}

#u4258:hover,#u4268:hover,#u4280:hover
{
	border-color: #91FFFF;
	min-height: 0px;
	width: 15.16%;
	margin: 4px -10000px 0px 0%;
}

#u4281-4
{
	z-index: 145;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 75.26%;
	left: 14.44%;
}

#u4081
{
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u4081-wrapper
{
	position: fixed;
	bottom: 68px;
	z-index: 165;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u4112
{
	z-index: 166;
	height: 62px;
	background-color: #FAFAFA;
	position: fixed;
	bottom: 6px;
}

#u4112-bw
{
	z-index: 166;
}

#u4116-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 167;
	left: 50%;
	margin-left: -270px;
	width: 9.38%;
	max-width: 60px;
}

#u4116,#u4120
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 30px;
	width: 100%;
	max-width: 60px;
}

#u4120-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 173;
	left: 50%;
	margin-left: 210px;
	width: 9.38%;
	max-width: 60px;
}

#u4082-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 169;
	left: 50%;
	margin-left: -105px;
	width: 7.82%;
	max-width: 50px;
}

#u4082,#u4084
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 25px;
	width: 100%;
	max-width: 50px;
}

#u4190_img,#u4064_img,#u4066_img,#u4236_img,#u4116_img,#u4120_img,#u4082_img,#u4084_img
{
	width: 100%;
}

#u4084-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 171;
	left: 50%;
	margin-left: 55px;
	width: 7.82%;
	max-width: 50px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

