.version.c_msg_rm /* version checker */
{
	color: #00001B;
	background-color: #C1197B;
}

#page
{
	z-index: 1;
	min-height: 768.2684905632946px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 69.73150943670544px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#u3099
{
	z-index: 2;
	min-height: 62px;
	background-color: #FAFAFA;
}

#u3099_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 640px;
}

#pu3092-5
{
	margin-right: -10000px;
	width: 27.97%;
	margin-left: 0.94%;
}

#u3092-5
{
	z-index: 3;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	font-family: sarina, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3092-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3092
{
	line-height: 58px;
}

#u3092-2
{
	font-size: 36px;
	color: #000000;
	font-family: myriad-std-tilt, sans-serif;
	font-weight: 400;
	line-height: 43px;
}

#u3049
{
	z-index: 8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 31.85%;
	left: 12.3%;
}

#u3047
{
	z-index: 11;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.54%;
	left: 45.32%;
}

#u3051
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 9.07%;
	left: 88.44%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3099-bw
{
	z-index: 2;
	min-height: 62px;
}

#u3091
{
	z-index: 10;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	width: 100%;
}

#pu3058
{
	margin-top: 4px;
	width: 100%;
}

#u3058
{
	z-index: 25;
	width: 642px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 0.16%;
}

#u3059
{
	z-index: 26;
	width: 640px;
	-pie-box-shadow: 6px 6px 8px #C1C1C1;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
}

#u3059_position_content
{
	margin-top: -12px;
	margin-bottom: -1px;
	width: 100%;
}

#u3064
{
	z-index: 28;
	width: 640px;
	height: 79px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	position: relative;
	left: 0.16%;
}

#ppu3066
{
	margin-top: -2px;
	width: 96.57%;
	margin-left: 3.75%;
}

#pu3066
{
	margin-right: -10000px;
	margin-top: 33px;
	width: 90.78%;
}

#u3066
{
	z-index: 32;
	width: 494px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FAFAFB;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
	margin-left: 11.59%;
}

#u3074-4
{
	z-index: 33;
	width: 450px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5.07%;
}

#u3065
{
	z-index: 30;
	width: 452px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 25px;
	margin-top: 41px;
	position: relative;
}

#u3060-4
{
	z-index: 45;
	width: 421px;
	min-height: 100px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 3.32%;
}

#u3068
{
	z-index: 31;
	width: 490px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FAFAFB;
	border-radius: 2px;
	padding-bottom: 18px;
	margin-top: 26px;
	position: relative;
	margin-left: 12.3%;
}

#u3073-4
{
	z-index: 37;
	width: 450px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 4.29%;
}

#u3061
{
	z-index: 55;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96.28%;
}

#u3070
{
	z-index: 27;
	width: 640px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FAFAFB;
	border-radius: 2px;
	padding-bottom: 10px;
	position: relative;
}

#u3069
{
	z-index: 29;
	width: 493px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1.25%;
}

#u3067-4
{
	z-index: 41;
	width: 433px;
	min-height: 36px;
	background-color: transparent;
	color: #D5D5D5;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1.22%;
}

#u3063
{
	z-index: 49;
	width: 28px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91.89%;
}

#buttonu3071
{
	z-index: 50;
	width: 92px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D5D5D5;
	border-radius: 2px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 82.19%;
}

#buttonu3071:hover
{
	background-color: #B7E8E7;
	width: 92px;
	min-height: 0px;
	margin: 10px -10000px 0px 0%;
}

#buttonu3071:active
{
	background-color: #D5D5D5;
	width: 92px;
	min-height: 0px;
	margin: 10px -10000px 0px 0%;
}

#buttonu3071.ButtonSelected
{
	background-color: #D5D5D5;
	width: 92px;
	min-height: 0px;
	margin: 10px -10000px 0px 0%;
}

#u3072-4
{
	z-index: 51;
	width: 57px;
	min-height: 20px;
	background-color: transparent;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 15px;
}

#buttonu3071:hover #u3072-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 14px -10000px 0px 0px;
}

#buttonu3071:active #u3072-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 14px -10000px 0px 0px;
}

#buttonu3071.ButtonSelected #u3072-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 14px -10000px 0px 0px;
}

#buttonu3071:hover #u3072-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	font-weight: bold;
}

#buttonu3071:active #u3072-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#buttonu3071.ButtonSelected #u3072-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3080
{
	z-index: 57;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 93.13%;
	left: 6.88%;
}

#u3085
{
	z-index: 58;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3082
{
	z-index: 59;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 9.23%;
	left: 1.68%;
}

#pu3084-4
{
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 10px;
	width: 64.1%;
	margin-left: 13.26%;
}

#u3084-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	width: 44.77%;
}

#pu3086
{
	margin-top: 11px;
	width: 100%;
}

#u3086
{
	z-index: 69;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 6.29%;
}

#u3087
{
	z-index: 70;
	display: block;
	width: 100%;
}

#u3081-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 25.66%;
	left: 8.38%;
}

#u3088
{
	z-index: 71;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 6.29%;
	left: 36.13%;
}

#u3090-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 55.5%;
	left: 44.51%;
}

#u3075
{
	z-index: 77;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 5.94%;
	left: 0.32%;
}

#u3093
{
	z-index: 79;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 8.75%;
	left: 89.54%;
}

#u3057
{
	z-index: 81;
	width: 452px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	left: 21px;
}

#u3053-4
{
	z-index: 82;
	width: 421px;
	min-height: 49px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u3054
{
	z-index: 16;
	height: 62px;
	background-color: #FAFAFA;
	position: fixed;
	bottom: 6px;
}

#u3054-bw
{
	z-index: 16;
}

#u3079
{
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u3079-wrapper
{
	position: fixed;
	bottom: 68px;
	z-index: 15;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u3097-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 17;
	left: 50%;
	margin-left: -270px;
	width: 9.38%;
	max-width: 60px;
}

#u3097,#u3095
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 30px;
	width: 100%;
	max-width: 60px;
}

#u3095-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 23;
	left: 50%;
	margin-left: 210px;
	width: 9.38%;
	max-width: 60px;
}

#u3077-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 19;
	left: 50%;
	margin-left: -105px;
	width: 7.82%;
	max-width: 50px;
}

#u3077,#u3055
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 25px;
	width: 100%;
	max-width: 50px;
}

#u3049_img,#u3047_img,#u3051_img,#u3082_img,#u3088_img,#u3075_img,#u3093_img,#u3097_img,#u3095_img,#u3077_img,#u3055_img
{
	width: 100%;
}

#u3055-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 21;
	left: 50%;
	margin-left: 55px;
	width: 7.82%;
	max-width: 50px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

