.version.event /* version checker */
{
	color: #0000F2;
	background-color: #CECDFC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 2053px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#pd
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: -66px;
}

#d
{
	position: relative;
}

#m
{
	margin-left: 11px;
	margin-top: 246px;
	position: relative;
}

#p
{
	margin-top: 264px;
	position: relative;
}

#pamphletu888
{
	z-index: 153;
	width: 0.01px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u903
{
	z-index: 154;
	width: 44px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u904
{
	width: 44px;
	padding-bottom: 6px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u904:hover
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u904:active
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u886
{
	z-index: 156;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 50%;
	left: -16px;
}

#u904:hover #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904:active #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904.PamphletThumbSelected #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u893
{
	position: absolute;
	width: 640px;
	padding-bottom: 44px;
	top: 44px;
}

#u893popup
{
	z-index: 158;
}

#u894
{
	z-index: 159;
	width: 596px;
	height: 326px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#menuu895
{
	z-index: 160;
	width: 596px;
	position: relative;
	margin-right: -10000px;
}

#u896
{
	width: 596px;
	position: relative;
}

#u899
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
}

#u902-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u958
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
}

#u960-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2410
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
}

#u2412-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u957,#u2409,#u2569
{
	width: 596px;
	margin-top: 2px;
	position: relative;
}

#u2570
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
}

#u899.MuseMenuActive,#u958.MuseMenuActive,#u2410.MuseMenuActive,#u2570.MuseMenuActive
{
	width: 596px;
	min-height: 16px;
	margin: 0px -10000px 1px 0px;
}

#u2571-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u899.MuseMenuActive #u902-4,#u958.MuseMenuActive #u960-4,#u2410.MuseMenuActive #u2412-4,#u2570.MuseMenuActive #u2571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 596px;
	margin: 0px -10000px 0px 0px;
}

#u889
{
	position: absolute;
	width: 596px;
	padding-bottom: 6px;
	top: 250px;
	left: 22px;
}

#u890-4
{
	z-index: 186;
	width: 596px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
}

#u171
{
	z-index: 152;
	width: 640px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -320px;
}

#u2283
{
	z-index: 190;
	width: 640px;
	height: 1px;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: -320px;
}

#slideshowu2593
{
	z-index: 29;
	width: 0.01px;
	height: 493px;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: -320px;
}

#u2597
{
	position: absolute;
	width: 639px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	top: 427px;
}

#u2597popup
{
	z-index: 30;
}

#u2602
{
	z-index: 31;
	width: 70px;
	height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #F3F3F3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u2598
{
	z-index: 33;
	width: 70px;
	height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #F3F3F3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u2600
{
	z-index: 35;
	width: 70px;
	height: 62px;
	border-style: solid;
	border-width: 1px;
	border-color: #F3F3F3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u2602.SSSlideLinkSelected,#u2598.SSSlideLinkSelected,#u2600.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 70px;
	height: 62px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2609
{
	position: absolute;
	width: 640px;
	height: 427px;
	background-color: transparent;
}

#u2609popup
{
	z-index: 37;
}

#u2610
{
	z-index: 38;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2612
{
	z-index: 40;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2614
{
	z-index: 42;
	width: 640px;
	height: 427px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3085
{
	z-index: 44;
	width: 641px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 79px;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: -320px;
}

#u2992
{
	z-index: 45;
	width: 639px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: -320px;
}

#u2992_position_content
{
	margin-top: -1px;
	padding-bottom: 78px;
	width: 100%;
}

#pu2964
{
	width: 0.01px;
	padding-bottom: 79px;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: -314px;
}

#u2964
{
	z-index: 46;
	width: 80px;
	background-color: transparent;
	padding-bottom: 78px;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: 240px;
}

#u2964:hover
{
	background-color: #D5D5D5;
	width: 80px;
	min-height: 0px;
	margin: 0px 0px 0px 240px;
}

#u2953
{
	z-index: 74;
	width: 55px;
	background-color: transparent;
	position: fixed;
	top: 542px;
	left: 50%;
	margin-left: 254px;
}

#u2949
{
	z-index: 75;
	display: block;
}

#u2960-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 599px;
	left: 50%;
	margin-left: 243px;
}

#u2998
{
	z-index: 47;
	width: 76px;
	background-color: transparent;
	padding-bottom: 39px;
	position: fixed;
	top: 538px;
	left: 50%;
	margin-left: 88px;
}

#u3037
{
	z-index: 93;
	width: 66px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 19px;
	position: fixed;
	top: 547px;
	left: 50%;
	margin-left: 94px;
}

#u3039
{
	z-index: 94;
	width: 19px;
	background-color: transparent;
	position: fixed;
	top: 547px;
	left: 50%;
	margin-left: 94px;
}

#u3038-4
{
	z-index: 96;
	width: 44px;
	min-height: 12px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 551px;
	left: 50%;
	margin-left: 115px;
}

#u3001
{
	z-index: 48;
	width: 76px;
	background-color: transparent;
	padding-bottom: 39px;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: 164px;
}

#u3068
{
	z-index: 109;
	width: 69px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 19px;
	position: fixed;
	top: 547px;
	left: 50%;
	margin-left: 168px;
}

#u3070
{
	z-index: 110;
	width: 19px;
	background-color: transparent;
	position: fixed;
	top: 547px;
	left: 50%;
	margin-left: 168px;
}

#u3069-4
{
	z-index: 112;
	width: 47px;
	min-height: 12px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 551px;
	left: 50%;
	margin-left: 190px;
}

#u3004
{
	z-index: 49;
	width: 76px;
	background-color: transparent;
	padding-bottom: 39px;
	position: fixed;
	top: 576px;
	left: 50%;
	margin-left: 164px;
}

#u3001:hover,#u3004:hover
{
	background-color: #D5D5D5;
	width: 76px;
	min-height: 0px;
	margin: 0px 0px 0px 164px;
}

#u3024
{
	z-index: 86;
	width: 69px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 19px;
	position: fixed;
	top: 586px;
	left: 50%;
	margin-left: 168px;
}

#u3025
{
	z-index: 87;
	width: 19px;
	background-color: transparent;
	position: fixed;
	top: 586px;
	left: 50%;
	margin-left: 168px;
}

#u3027-4
{
	z-index: 89;
	width: 47px;
	min-height: 12px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 590px;
	left: 50%;
	margin-left: 190px;
}

#u2995
{
	z-index: 50;
	width: 76px;
	background-color: transparent;
	padding-bottom: 40px;
	position: fixed;
	top: 576px;
	left: 50%;
	margin-left: 88px;
}

#u2998:hover,#u2995:hover
{
	background-color: #D5D5D5;
	width: 76px;
	min-height: 0px;
	margin: 0px 0px 0px 88px;
}

#u3050
{
	z-index: 100;
	width: 67px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 22px;
	position: fixed;
	top: 585px;
	left: 50%;
	margin-left: 94px;
}

#u3052
{
	z-index: 101;
	width: 19px;
	background-color: transparent;
	position: fixed;
	top: 586px;
	left: 50%;
	margin-left: 94px;
}

#u3051-6
{
	z-index: 103;
	width: 47px;
	min-height: 12px;
	background-color: transparent;
	line-height: 11px;
	text-align: center;
	font-size: 9px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 585px;
	left: 50%;
	margin-left: 114px;
}

#u2812
{
	z-index: 51;
	width: 65px;
	background-color: transparent;
	border-radius: 29px;
	position: fixed;
	top: 544px;
	left: 50%;
	margin-left: -314px;
}

#u2812 .clip_frame
{
	-webkit-border-radius: 29px 29px 29px 29px;
}

#u2927
{
	z-index: 70;
	width: 1px;
	height: 78px;
	background-color: #000000;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: -246px;
}

#pu2828-4
{
	width: 0.01px;
	position: fixed;
	top: 546px;
	left: 50%;
	margin-left: -243px;
}

#pu2828-4_position_content
{
	margin-top: -9px;
	padding-bottom: 77px;
	width: 100%;
}

#u2828-4
{
	z-index: 63;
	width: 224px;
	min-height: 8px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 546px;
	left: 50%;
	margin-left: -243px;
}

#u2871
{
	z-index: 56;
	width: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 26px;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -243px;
}

#u2872
{
	z-index: 57;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -243px;
}

#u2876
{
	z-index: 58;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -199px;
}

#u2877
{
	z-index: 59;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -221px;
}

#u2873
{
	z-index: 60;
	width: 25px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -177px;
}

#u2875
{
	z-index: 61;
	width: 19px;
	min-height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -155px;
}

#u2874
{
	z-index: 62;
	width: 10px;
	height: 26px;
	background-color: #FFFFFF;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -146px;
}

#pu2908
{
	width: 0.01px;
	position: fixed;
	top: 546px;
	left: 50%;
	margin-left: -19px;
}

#pu2908_position_content
{
	margin-top: -9px;
	padding-bottom: 78px;
	width: 100%;
}

#u2908
{
	z-index: 67;
	width: 23px;
	background-color: transparent;
	position: fixed;
	top: 546px;
	left: 50%;
	margin-left: -19px;
}

#u2970
{
	z-index: 83;
	width: 88px;
	height: 1px;
	background-color: #000000;
	position: fixed;
	top: 593px;
	left: 50%;
	margin-left: 0px;
}

#u2973
{
	z-index: 84;
	width: 1px;
	height: 22px;
	background-color: #000000;
	position: fixed;
	top: 593px;
	left: 50%;
	margin-left: 0px;
}

#u2930
{
	z-index: 71;
	width: 1px;
	height: 78px;
	background-color: #000000;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: 88px;
}

#u2933
{
	z-index: 72;
	width: 1px;
	height: 78px;
	background-color: #000000;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: 164px;
}

#u2936
{
	z-index: 73;
	width: 1px;
	height: 78px;
	background-color: #000000;
	position: fixed;
	top: 537px;
	left: 50%;
	margin-left: 240px;
}

#u2976
{
	z-index: 85;
	width: 152px;
	height: 1px;
	background-color: #000000;
	position: fixed;
	top: 576px;
	left: 50%;
	margin-left: 88px;
}

#u2924
{
	z-index: 69;
	width: 640px;
	height: 1px;
	background-color: #000000;
	position: fixed;
	top: 615px;
	left: 50%;
	margin-left: -320px;
}

#u2826
{
	z-index: 54;
	height: 17px;
	width: 194px;
	vertical-align: top;
	position: fixed;
	top: 570px;
	left: 50%;
	margin-left: -243px;
	background: transparent url("../images/u2826.png") no-repeat 0px 0px;
}

#u2826:hover
{
	background: transparent url("../images/u2826-r.png") no-repeat 0px 0px;
}

#u2967
{
	z-index: 81;
	height: 15px;
	width: 80px;
	vertical-align: top;
	position: fixed;
	top: 597px;
	left: 50%;
	margin-left: 4px;
	background: transparent url("../images/u2967.png") no-repeat 0px 0px;
}

#u2967:hover
{
	background: transparent url("../images/u2967-r.png") no-repeat 0px 0px;
}

#u3109-4
{
	z-index: 9;
	width: 497px;
	min-height: 192px;
	background-color: #F3F3F3;
	text-align: justify;
	font-size: 14px;
	line-height: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 681px;
	left: 71px;
}

#pu3106
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 622px;
	width: 73.44%;
	margin-left: 13.29%;
}

#u3106
{
	z-index: 2;
	width: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3100
{
	z-index: 8;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3091-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
	margin-left: 0%;
	left: 118px;
}

#u3090
{
	z-index: 7;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 7px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3114
{
	z-index: 13;
	width: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 223px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3117
{
	z-index: 19;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3116-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
	margin-left: 0%;
	left: 118px;
}

#u3115
{
	z-index: 18;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 7px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3136
{
	z-index: 22;
	width: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 238px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3137
{
	z-index: 28;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u3139-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
	margin-left: 0%;
	left: 118px;
}

#u3138
{
	z-index: 27;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 7px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#pu3160-4
{
	margin-right: -10000px;
	margin-top: 592px;
	width: 42.19%;
	margin-left: 28.91%;
}

#u3160-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	width: 25.19%;
	margin-left: 2.23%;
}

#u3126
{
	z-index: 20;
	background-color: transparent;
	margin-top: 338px;
	position: relative;
	width: 100%;
}

#u3126_img
{
	width: 100%;
}

#u2297
{
	z-index: 191;
	width: 138px;
	padding-bottom: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1053
{
	z-index: 194;
	width: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1046
{
	z-index: 192;
	width: 95px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -26px;
}

#buttonu2444
{
	z-index: 196;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 111px;
}

#buttonu2444:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2445-4
{
	z-index: 197;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2444:hover #u2445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450
{
	z-index: 201;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 5px;
}

#buttonu2444.ButtonSelected,#buttonu2450:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2450.ButtonSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2451-4
{
	z-index: 202;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2444.ButtonSelected #u2445-4,#buttonu2450:hover #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450.ButtonSelected #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#u2194
{
	z-index: 123;
	height: 88px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2188
{
	z-index: 124;
	width: 315px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 50%;
	left: -130px;
}

#pu2150-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 36.51%;
	margin-left: 31.75%;
}

#u2150-4
{
	z-index: 147;
	position: relative;
	margin-left: 0%;
	left: -54px;
}

#u2148
{
	z-index: 141;
	height: 14px;
	width: 69px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -112px;
}

#u2144-6
{
	z-index: 125;
	margin-top: 12px;
	position: relative;
	margin-left: 0%;
	left: -100px;
}

#u2151
{
	z-index: 151;
	width: 83px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 50%;
	left: -69px;
}

#pu2149-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 53.97%;
	margin-left: 23.02%;
}

#u2149-4
{
	z-index: 143;
	position: relative;
	margin-left: 0%;
	left: 72.5px;
}

#u2147
{
	z-index: 138;
	height: 14px;
	width: 155px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2146
{
	z-index: 135;
	height: 16px;
	width: 155px;
	margin-top: 5px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2145
{
	z-index: 132;
	height: 14px;
	width: 170px;
	margin-top: 2px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 750px;
}

