.version.p_index /* version checker */
{
	color: #0000ED;
	background-color: #024E90;
}

#page
{
	z-index: 1;
	min-height: 838px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 2px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#u675
{
	z-index: 2;
	min-height: 62px;
	background-color: #FAFAFA;
}

#u675_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 640px;
}

#pu676-5
{
	margin-right: -10000px;
	width: 27.97%;
	margin-left: 0.94%;
}

#u676-5
{
	z-index: 3;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	font-family: sarina, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u676-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u676
{
	line-height: 58px;
}

#u676-2
{
	font-size: 36px;
	color: #000000;
	font-family: myriad-std-tilt, sans-serif;
	font-weight: 400;
	line-height: 43px;
}

#u677
{
	z-index: 8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 31.85%;
	left: 12.3%;
}

#u680
{
	z-index: 11;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.54%;
	left: 45.32%;
}

#u682
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 9.07%;
	left: 88.44%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u675-bw
{
	z-index: 2;
	min-height: 62px;
}

#u679
{
	z-index: 10;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	width: 100%;
}

#pu996
{
	margin-top: 1px;
	width: 100%;
}

#u996
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1006-4
{
	z-index: 78;
	min-height: 26px;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #000000;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 45.32%;
	left: 27.04%;
}

#u1006-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 45.32%;
	margin: 36px -10000px 0px 0%;
}

#u1009
{
	z-index: 82;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	width: 5.32%;
	left: 67.82%;
}

#u939
{
	z-index: 25;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	width: 100%;
}

#pu945-4
{
	margin-top: 10px;
	width: 100%;
}

#u945-4
{
	z-index: 26;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 36.41%;
	left: 7.19%;
}

#u954-4
{
	z-index: 38;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 36.41%;
	left: 54.85%;
}

#ppu955-4
{
	margin-top: 6px;
	width: 100%;
}

#pu955-4
{
	margin-right: -10000px;
	width: 28.75%;
	margin-left: 55.32%;
}

#u955-4
{
	z-index: 42;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 50%;
	left: 0.55%;
}

#u955-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 50%;
	margin: -1px -10000px -1px 0%;
}

#u956-4
{
	z-index: 46;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #000000;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 51.09%;
	left: 48.92%;
}

#u946-4
{
	z-index: 30;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 14.38%;
	left: 7.5%;
}

#u951-4
{
	z-index: 34;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #000000;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 14.69%;
	left: 21.72%;
}

#pu963-4
{
	margin-top: 8px;
	width: 100%;
}

#u963-4
{
	z-index: 50;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 36.41%;
	left: 7.19%;
}

#u972-4
{
	z-index: 58;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 36.41%;
	left: 54.85%;
}

#pu964-4
{
	margin-top: 5px;
	width: 100%;
}

#u964-4
{
	z-index: 54;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 28.44%;
	left: 7.5%;
}

#u964-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 28.44%;
	margin: -1px -10000px -1px 0%;
}

#u978-4
{
	z-index: 62;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #C8C8C8;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 14.38%;
	left: 55.47%;
}

#u946-4:hover,#u978-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 14.38%;
	margin: -1px -10000px -1px 0%;
}

#u979-4
{
	z-index: 66;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	color: #000000;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 14.69%;
	left: 69.69%;
}

#u684
{
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u684-wrapper
{
	position: fixed;
	bottom: 68px;
	z-index: 15;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u685
{
	z-index: 16;
	height: 62px;
	background-color: #FAFAFA;
	position: fixed;
	bottom: 6px;
}

#u685-bw
{
	z-index: 16;
}

#u984
{
	z-index: 70;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-top: 8px;
	position: relative;
	width: 100%;
}

#u686-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 17;
	left: 50%;
	margin-left: -270px;
	width: 9.38%;
	max-width: 60px;
}

#u686,#u692
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 30px;
	width: 100%;
	max-width: 60px;
}

#u692-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 23;
	left: 50%;
	margin-left: 210px;
	width: 9.38%;
	max-width: 60px;
}

#u990
{
	z-index: 71;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 9px;
	margin-top: 4px;
	position: relative;
	width: 87.5%;
	margin-left: 5.94%;
}

#u990:hover
{
	border-color: #91FFFF;
	background-color: #91FFFF;
	min-height: 0px;
	width: 87.5%;
	margin: 4px 0px 0px 5.9375%;
}

#u991-4
{
	z-index: 72;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 18.93%;
	left: 40.54%;
}

#pu688
{
	padding-bottom: 50px;
	margin-top: -55px;
	width: 100%;
}

#u688-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 19;
	left: 50%;
	margin-left: -105px;
	width: 7.82%;
	max-width: 50px;
}

#u688,#u690
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 25px;
	width: 100%;
	max-width: 50px;
}

#u677_img,#u680_img,#u682_img,#pu679,#u1009_img,#u686_img,#u692_img,#u688_img,#u690_img
{
	width: 100%;
}

#u690-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 21;
	left: 50%;
	margin-left: 55px;
	width: 7.82%;
	max-width: 50px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

