.version.p_msg_rm /* version checker */
{
	color: #00001E;
	background-color: #ED1A60;
}

#page
{
	z-index: 1;
	min-height: 768.2684905632946px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 69.73150943670544px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#u2161
{
	z-index: 2;
	min-height: 62px;
	background-color: #FAFAFA;
}

#u2161_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 640px;
}

#pu2199-5
{
	margin-right: -10000px;
	width: 27.97%;
	margin-left: 0.94%;
}

#u2199-5
{
	z-index: 3;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	font-family: sarina, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2199-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2199
{
	line-height: 58px;
}

#u2199-2
{
	font-size: 36px;
	color: #000000;
	font-family: myriad-std-tilt, sans-serif;
	font-weight: 400;
	line-height: 43px;
}

#u2155
{
	z-index: 8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 31.85%;
	left: 12.3%;
}

#u2164
{
	z-index: 11;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.54%;
	left: 45.32%;
}

#u2153
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 9.07%;
	left: 88.44%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2161-bw
{
	z-index: 2;
	min-height: 62px;
}

#u2162
{
	z-index: 10;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	width: 100%;
}

#pu2225
{
	margin-top: 4px;
	width: 100%;
}

#u2225
{
	z-index: 25;
	width: 642px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 0.16%;
}

#u2247
{
	z-index: 26;
	width: 640px;
	-pie-box-shadow: 6px 6px 8px #C1C1C1;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
}

#u2247_position_content
{
	margin-top: -12px;
	margin-bottom: -1px;
	width: 100%;
}

#u2227
{
	z-index: 28;
	width: 640px;
	height: 79px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	position: relative;
	left: 0.16%;
}

#ppu2243
{
	margin-top: -2px;
	width: 96.57%;
	margin-left: 3.75%;
}

#pu2243
{
	margin-right: -10000px;
	margin-top: 33px;
	width: 90.78%;
}

#u2243
{
	z-index: 32;
	width: 494px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FAFAFB;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
	margin-left: 11.59%;
}

#u2245-4
{
	z-index: 33;
	width: 450px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5.07%;
}

#u2239
{
	z-index: 30;
	width: 452px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 25px;
	margin-top: 41px;
	position: relative;
}

#u2231-4
{
	z-index: 45;
	width: 421px;
	min-height: 100px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 3.32%;
}

#u2238
{
	z-index: 31;
	width: 490px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FAFAFB;
	border-radius: 2px;
	padding-bottom: 18px;
	margin-top: 26px;
	position: relative;
	margin-left: 12.3%;
}

#u2232-4
{
	z-index: 37;
	width: 450px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 4.29%;
}

#u2233
{
	z-index: 55;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96.28%;
}

#u2228
{
	z-index: 27;
	width: 640px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FAFAFB;
	border-radius: 2px;
	padding-bottom: 10px;
	position: relative;
}

#u2236
{
	z-index: 29;
	width: 493px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1.25%;
}

#u2246-4
{
	z-index: 41;
	width: 433px;
	min-height: 36px;
	background-color: transparent;
	color: #D5D5D5;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1.22%;
}

#u2229
{
	z-index: 49;
	width: 28px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91.89%;
}

#buttonu2240
{
	z-index: 50;
	width: 92px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D5D5D5;
	border-radius: 2px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 82.19%;
}

#buttonu2240:hover
{
	background-color: #B7E8E7;
	width: 92px;
	min-height: 0px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2240:active
{
	background-color: #D5D5D5;
	width: 92px;
	min-height: 0px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2240.ButtonSelected
{
	background-color: #D5D5D5;
	width: 92px;
	min-height: 0px;
	margin: 10px -10000px 0px 0%;
}

#u2241-4
{
	z-index: 51;
	width: 57px;
	min-height: 20px;
	background-color: transparent;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 15px;
}

#buttonu2240:hover #u2241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 14px -10000px 0px 0px;
}

#buttonu2240:active #u2241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 14px -10000px 0px 0px;
}

#buttonu2240.ButtonSelected #u2241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 14px -10000px 0px 0px;
}

#buttonu2240:hover #u2241-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	font-weight: bold;
}

#buttonu2240:active #u2241-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#buttonu2240.ButtonSelected #u2241-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2324
{
	z-index: 57;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 93.13%;
	left: 6.88%;
}

#u2325
{
	z-index: 58;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2332
{
	z-index: 59;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 9.23%;
	left: 1.68%;
}

#pu2329-4
{
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 10px;
	width: 64.1%;
	margin-left: 13.26%;
}

#u2329-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	width: 44.77%;
}

#pu2334
{
	margin-top: 11px;
	width: 100%;
}

#u2334
{
	z-index: 69;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 6.29%;
}

#u2335
{
	z-index: 70;
	display: block;
	width: 100%;
}

#u2328-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 25.66%;
	left: 8.38%;
}

#u2326
{
	z-index: 71;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 6.29%;
	left: 36.13%;
}

#u2331-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 55.5%;
	left: 44.51%;
}

#u2365
{
	z-index: 77;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 5.94%;
	left: 0.32%;
}

#u2372
{
	z-index: 79;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 8.75%;
	left: 89.54%;
}

#u2379
{
	z-index: 81;
	width: 452px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	left: 21px;
}

#u2380-4
{
	z-index: 82;
	width: 421px;
	min-height: 49px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u2178
{
	z-index: 16;
	height: 62px;
	background-color: #FAFAFA;
	position: fixed;
	bottom: 6px;
}

#u2178-bw
{
	z-index: 16;
}

#u2163
{
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	left: -50%;
	margin-left: 320px;
	width: 100%;
	max-width: 640px;
}

#u2163-wrapper
{
	position: fixed;
	bottom: 68px;
	z-index: 15;
	left: 50%;
	margin-left: -320px;
	width: 100%;
	max-width: 640px;
}

#u2200-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 17;
	left: 50%;
	margin-left: -270px;
	width: 9.38%;
	max-width: 60px;
}

#u2200,#u2183
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 30px;
	width: 100%;
	max-width: 60px;
}

#u2183-wrapper
{
	position: fixed;
	bottom: 0px;
	z-index: 23;
	left: 50%;
	margin-left: 210px;
	width: 9.38%;
	max-width: 60px;
}

#u2159-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 19;
	left: 50%;
	margin-left: -105px;
	width: 7.82%;
	max-width: 50px;
}

#u2159,#u2181
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 25px;
	width: 100%;
	max-width: 50px;
}

#u2155_img,#u2164_img,#u2153_img,#u2332_img,#u2326_img,#u2365_img,#u2372_img,#u2200_img,#u2183_img,#u2159_img,#u2181_img
{
	width: 100%;
}

#u2181-wrapper
{
	position: fixed;
	bottom: 5px;
	z-index: 21;
	left: 50%;
	margin-left: 55px;
	width: 7.82%;
	max-width: 50px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

