.version.sign_up /* version checker */
{
	color: #000003;
	background-color: #8F6353;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 666px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#pamphletu888
{
	z-index: 89;
	width: 0.01px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u903
{
	z-index: 90;
	width: 44px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u904
{
	width: 44px;
	padding-bottom: 6px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u904:hover
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u904:active
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u886
{
	z-index: 92;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 50%;
	left: -16px;
}

#u904:hover #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904:active #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904.PamphletThumbSelected #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u893
{
	position: absolute;
	width: 640px;
	padding-bottom: 44px;
	top: 44px;
}

#u893popup
{
	z-index: 94;
}

#u894
{
	z-index: 95;
	width: 596px;
	height: 326px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#menuu895
{
	z-index: 96;
	width: 596px;
	position: relative;
	margin-right: -10000px;
}

#u896
{
	width: 596px;
	position: relative;
}

#u899
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u902-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u958
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u960-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u2410
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u2412-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u3217
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u3218-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u3370
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u3371-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u3919
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u3920-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u2570
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u2571-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u4401
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u4403-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u7164
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u7167-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u7819
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u7821-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u8004
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8005-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u8125
{
	width: 596px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u899.MuseMenuActive,#u958.MuseMenuActive,#u2410.MuseMenuActive,#u3217.MuseMenuActive,#u3370.MuseMenuActive,#u3919.MuseMenuActive,#u2570.MuseMenuActive,#u4401.MuseMenuActive,#u7164.MuseMenuActive,#u7819.MuseMenuActive,#u8004.MuseMenuActive,#u8125.MuseMenuActive
{
	width: 596px;
	min-height: 13px;
	margin: 0px -10000px 1px 0px;
}

#u8126-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u899.MuseMenuActive #u902-4,#u958.MuseMenuActive #u960-4,#u2410.MuseMenuActive #u2412-4,#u3217.MuseMenuActive #u3218-4,#u3370.MuseMenuActive #u3371-4,#u3919.MuseMenuActive #u3920-4,#u2570.MuseMenuActive #u2571-4,#u4401.MuseMenuActive #u4403-4,#u7164.MuseMenuActive #u7167-4,#u7819.MuseMenuActive #u7821-4,#u8004.MuseMenuActive #u8005-4,#u8125.MuseMenuActive #u8126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 596px;
	margin: 0px -10000px -3px 0px;
}

#u957,#u2409,#u3216,#u3367,#u3916,#u2569,#u4398,#u7163,#u7818,#u8001,#u8122,#u8464
{
	width: 596px;
	margin-top: 2px;
	position: relative;
}

#u8467
{
	width: 596px;
	min-height: 15px;
	position: relative;
	margin-right: -10000px;
}

#u8467.MuseMenuActive
{
	width: 596px;
	min-height: 14px;
	margin: 0px -10000px 1px 0px;
}

#u8468-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
}

#u8467.MuseMenuActive #u8468-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 596px;
	margin: 0px -10000px -2px 0px;
}

#u889
{
	position: absolute;
	width: 596px;
	padding-bottom: 6px;
	top: 250px;
	left: 22px;
}

#u890-4
{
	z-index: 176;
	width: 596px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
}

#pu171
{
	width: 0.01px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u171
{
	z-index: 88;
	width: 640px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -320px;
}

#u2283
{
	z-index: 180;
	width: 640px;
	height: 1px;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: -320px;
}

#u3239
{
	z-index: 196;
	width: 159px;
	height: 27px;
	position: fixed;
	top: 9px;
	left: 50%;
	margin-left: -253px;
}

#u3240-4
{
	z-index: 197;
	width: 133px;
	min-height: 19px;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -249px;
}

#pu2267
{
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 62px;
	width: 73.44%;
	margin-left: 13.29%;
}

#u2267
{
	z-index: 40;
	width: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u2271-4
{
	z-index: 41;
	width: 309px;
	min-height: 40px;
	background-color: transparent;
	font-size: 34px;
	text-align: center;
	line-height: 41px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -155px;
}

#u2268-8
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	margin-left: 0%;
	left: 118px;
}

#u2270
{
	z-index: 53;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u2217
{
	z-index: 2;
	width: 151px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-top: 24px;
	position: relative;
	margin-left: 50%;
	left: -159px;
}

#u2203-4
{
	z-index: 6;
	width: 86px;
	min-height: 29px;
	background-color: transparent;
	color: #D5D5D5;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -69px;
}

#u2202
{
	z-index: 4;
	width: 317px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -159px;
}

#u2221-4
{
	z-index: 14;
	width: 265px;
	min-height: 29px;
	background-color: transparent;
	color: #D5D5D5;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -152px;
}

#u2209
{
	z-index: 5;
	width: 317px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-top: 12px;
	position: relative;
	margin-left: 50%;
	left: -159px;
}

#u2218-4
{
	z-index: 18;
	width: 265px;
	min-height: 29px;
	background-color: transparent;
	color: #D5D5D5;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -152px;
}

#u2213
{
	z-index: 33;
	width: 311px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 66px;
	position: relative;
	margin-left: 50%;
	left: -152px;
}

#pu2216-4
{
	margin-right: -10000px;
	width: 53.06%;
	margin-left: 23.48%;
}

#u2216-4
{
	z-index: 34;
	width: 20px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u2215
{
	z-index: 38;
	vertical-align: top;
	width: 146px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 50%;
	left: -156px;
	background: url("../images/u2215.png") no-repeat 0px 0px;
}

#u2214
{
	z-index: 39;
	vertical-align: top;
	width: 146px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 50%;
	left: 10px;
	background: url("../images/u2214.png") no-repeat 0px 0px;
}

#buttonu2206
{
	z-index: 26;
	width: 312px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 9px;
	margin-top: 1px;
	position: relative;
	margin-left: 50%;
	left: -154px;
}

#buttonu2206:hover
{
	background-color: #D5D5D5;
	width: 312px;
	min-height: 0px;
	left: -154px;
	margin: 1px 0px 0px 50%;
}

#buttonu2206.ButtonSelected
{
	background-color: #FFFFFF;
	width: 312px;
	min-height: 0px;
	left: -154px;
	margin: 1px 0px 0px 50%;
}

#u2493
{
	z-index: 31;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 8.66%;
	left: 14.43%;
}

#buttonu2206:hover #u2493
{
	min-height: 0px;
	width: 8.66%;
	margin: 9px -10000px 0px 0%;
}

#buttonu2206.ButtonSelected #u2493
{
	min-height: 0px;
	width: 8.66%;
	margin: 9px -10000px 0px 0%;
}

#u2207-4
{
	z-index: 27;
	width: 185px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	text-align: left;
	line-height: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 26.93%;
}

#buttonu2206:hover #u2207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 185px;
	margin: 13px -10000px 0px 0%;
}

#buttonu2206.ButtonSelected #u2207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 185px;
	margin: 13px -10000px 0px 0%;
}

#u3245
{
	position: relative;
	left: -50%;
	margin-left: 14.5px;
	width: 100%;
	max-width: 29px;
}

#u3245-wrapper
{
	position: fixed;
	top: 9px;
	z-index: 201;
	left: 50%;
	margin-left: -121px;
	width: 4.54%;
	max-width: 29px;
}

#u2212-4
{
	z-index: 22;
	width: 177px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 482px;
	margin-left: 50%;
	left: -86px;
}

#u2297
{
	z-index: 181;
	width: 138px;
	padding-bottom: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1053
{
	z-index: 184;
	width: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1046
{
	z-index: 182;
	width: 95px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -26px;
}

#pu2204
{
	margin-right: -10000px;
	margin-top: 172px;
	width: 32.5%;
	margin-left: 33.75%;
}

#u2204
{
	z-index: 3;
	width: 151px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	position: relative;
	margin-left: 50%;
	left: 5px;
}

#u2205-4
{
	z-index: 10;
	width: 86px;
	min-height: 29px;
	background-color: transparent;
	color: #D5D5D5;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -69px;
}

#buttonu2474
{
	z-index: 203;
	width: 98px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 4px;
	margin-top: 118px;
	position: relative;
	margin-left: 50%;
	left: -50px;
}

#buttonu2474.ButtonSelected
{
	background-color: #FFFFFF;
	width: 98px;
	min-height: 0px;
	left: -50px;
	margin: 118px 0px 0px 50%;
}

#u2475-4
{
	z-index: 204;
	width: 61px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2474:hover #u2475-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2474:hover #u2475-4 p
{
	color: #42410B;
	visibility: inherit;
}

#buttonu2456
{
	z-index: 54;
	width: 98px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 4px;
	margin-top: 140px;
	position: relative;
	margin-left: 50%;
	left: -50px;
}

#buttonu2456:hover
{
	background-color: #D5D5D5;
	width: 98px;
	min-height: 0px;
	left: -50px;
	margin: 140px 0px 0px 50%;
}

#u2457-4
{
	z-index: 55;
	width: 61px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2474.ButtonSelected #u2475-4,#buttonu2456:hover #u2457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2456:hover #u2457-4 p
{
	color: #42410B;
	visibility: inherit;
}

#buttonu2474.ButtonSelected #u2475-4 p,#buttonu2456.ButtonSelected #u2457-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu2444
{
	z-index: 186;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 111px;
}

#buttonu2444:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2445-4
{
	z-index: 187;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2456.ButtonSelected #u2457-4,#buttonu2444:hover #u2445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450
{
	z-index: 191;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 5px;
}

#buttonu2444.ButtonSelected,#buttonu2450:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2450.ButtonSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2451-4
{
	z-index: 192;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2444.ButtonSelected #u2445-4,#buttonu2450:hover #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450.ButtonSelected #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#u2194
{
	z-index: 59;
	height: 88px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2188
{
	z-index: 60;
	width: 315px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 50%;
	left: -130px;
}

#pu2150-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 36.51%;
	margin-left: 31.75%;
}

#u2150-4
{
	z-index: 83;
	position: relative;
	margin-left: 0%;
	left: -54px;
}

#u2148
{
	z-index: 77;
	height: 14px;
	width: 69px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -112px;
}

#u2144-6
{
	z-index: 61;
	margin-top: 12px;
	position: relative;
	margin-left: 0%;
	left: -100px;
}

#u2151
{
	z-index: 87;
	width: 83px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 50%;
	left: -69px;
}

#pu2149-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 53.97%;
	margin-left: 23.02%;
}

#u2149-4
{
	z-index: 79;
	position: relative;
	margin-left: 0%;
	left: 72.5px;
}

#u2147
{
	z-index: 74;
	height: 14px;
	width: 155px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2146
{
	z-index: 71;
	height: 16px;
	width: 155px;
	margin-top: 5px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2145
{
	z-index: 68;
	height: 14px;
	width: 170px;
	margin-top: 2px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 28px;
}

#u2493_img,#u3245_img
{
	width: 100%;
}

