.version.sign_in /* version checker */
{
	color: #0000F9;
	background-color: #4550CF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 666px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#pamphletu888
{
	z-index: 74;
	width: 0.01px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u903
{
	z-index: 75;
	width: 44px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u904
{
	width: 44px;
	padding-bottom: 6px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u904:hover
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u904:active
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u886
{
	z-index: 77;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 50%;
	left: -16px;
}

#u904:hover #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904:active #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u904.PamphletThumbSelected #u886
{
	width: 32px;
	min-height: 0px;
	left: -16px;
	margin: 6px -10000px 0px 50%;
}

#u893
{
	position: absolute;
	width: 640px;
	padding-bottom: 44px;
	top: 44px;
}

#u893popup
{
	z-index: 79;
}

#u894
{
	z-index: 80;
	width: 596px;
	height: 326px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#menuu895
{
	z-index: 81;
	width: 596px;
	position: relative;
	margin-right: -10000px;
}

#u896
{
	width: 596px;
	position: relative;
}

#u899
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u902-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u958
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u960-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2410
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u2412-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3217
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3218-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3370
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3371-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3919
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3920-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u957,#u2409,#u3216,#u3367,#u3916,#u2569
{
	width: 596px;
	margin-top: 2px;
	position: relative;
}

#u2570
{
	width: 596px;
	min-height: 17px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u899.MuseMenuActive,#u958.MuseMenuActive,#u2410.MuseMenuActive,#u3217.MuseMenuActive,#u3370.MuseMenuActive,#u3919.MuseMenuActive,#u2570.MuseMenuActive
{
	width: 596px;
	min-height: 16px;
	margin: 0px -10000px 1px 0px;
}

#u2571-4
{
	width: 596px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u899.MuseMenuActive #u902-4,#u958.MuseMenuActive #u960-4,#u2410.MuseMenuActive #u2412-4,#u3217.MuseMenuActive #u3218-4,#u3370.MuseMenuActive #u3371-4,#u3919.MuseMenuActive #u3920-4,#u2570.MuseMenuActive #u2571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 596px;
	margin: 0px -10000px 0px 0px;
}

#u889
{
	position: absolute;
	width: 596px;
	padding-bottom: 6px;
	top: 250px;
	left: 22px;
}

#u890-4
{
	z-index: 125;
	width: 596px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
}

#pu171
{
	width: 0.01px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u171
{
	z-index: 73;
	width: 640px;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -320px;
}

#u2283
{
	z-index: 129;
	width: 640px;
	height: 1px;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: -320px;
}

#u3239
{
	z-index: 145;
	width: 159px;
	height: 27px;
	position: fixed;
	top: 9px;
	left: 50%;
	margin-left: -253px;
}

#u3240-4
{
	z-index: 146;
	width: 133px;
	min-height: 19px;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -249px;
}

#pu2404
{
	margin-right: -10000px;
	margin-top: 62px;
	width: 73.44%;
	margin-left: 13.29%;
}

#u2404
{
	z-index: 23;
	width: 470px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u2405-4
{
	z-index: 24;
	width: 309px;
	min-height: 40px;
	background-color: transparent;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-left: 50%;
	left: -155px;
}

#u2406-6
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	margin-left: 0%;
	left: 118px;
}

#u2407
{
	z-index: 34;
	width: 470px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -235px;
}

#u2384
{
	z-index: 2;
	width: 317px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -159px;
}

#u2385-4
{
	z-index: 4;
	width: 265px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -152px;
}

#u2402
{
	z-index: 3;
	width: 317px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px 0px 0px 2px ;
	padding-bottom: 4px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -159px;
}

#u2392-4
{
	z-index: 8;
	width: 265px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #D5D5D5;
	text-align: left;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 50%;
	left: -152px;
}

#u2435-4
{
	z-index: 35;
	width: 59px;
	min-height: 19px;
	background-color: transparent;
	color: #150042;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 50%;
	left: 88px;
}

#u2396
{
	z-index: 16;
	width: 311px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 81px;
	position: relative;
	margin-left: 50%;
	left: -155px;
}

#pu2398-4
{
	margin-right: -10000px;
	width: 53.06%;
	margin-left: 23.48%;
}

#u2398-4
{
	z-index: 17;
	width: 20px;
	min-height: 14px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -10px;
}

#u2397
{
	z-index: 21;
	vertical-align: top;
	width: 146px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 50%;
	left: -156px;
	background: url("../images/u2397.png") no-repeat 0px 0px;
}

#u2399
{
	z-index: 22;
	vertical-align: top;
	width: 146px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 50%;
	left: 10px;
	background: url("../images/u2399.png") no-repeat 0px 0px;
}

#u3245
{
	position: relative;
	left: -50%;
	margin-left: 14.5px;
	width: 100%;
	max-width: 29px;
}

#u3245-wrapper
{
	position: fixed;
	top: 9px;
	z-index: 150;
	left: 50%;
	margin-left: -121px;
	width: 4.54%;
	max-width: 29px;
}

#u2387-4
{
	z-index: 12;
	width: 177px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
	margin-left: 50%;
	left: -89px;
}

#u2297
{
	z-index: 130;
	width: 138px;
	padding-bottom: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1053
{
	z-index: 133;
	width: 36px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -69px;
}

#u1046
{
	z-index: 131;
	width: 95px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -26px;
}

#pbuttonu2462
{
	margin-right: -10000px;
	margin-top: 286px;
	width: 15.63%;
	margin-left: 42.19%;
}

#buttonu2462
{
	z-index: 39;
	width: 98px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 4px;
	position: relative;
	margin-left: 50%;
	left: -50px;
}

#buttonu2462:hover
{
	background-color: #D5D5D5;
	width: 98px;
	min-height: 0px;
	left: -50px;
	margin: 0px 0px 0px 50%;
}

#u2463-4
{
	z-index: 40;
	width: 61px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2462:hover #u2463-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2462:hover #u2463-4 p
{
	color: #42410B;
	visibility: inherit;
}

#buttonu2468
{
	z-index: 152;
	width: 98px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 4px;
	margin-top: 100px;
	position: relative;
	margin-left: 50%;
	left: -50px;
}

#buttonu2468:hover
{
	background-color: #D5D5D5;
	width: 98px;
	min-height: 0px;
	left: -50px;
	margin: 100px 0px 0px 50%;
}

#u2469-4
{
	z-index: 153;
	width: 61px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2462.ButtonSelected #u2463-4,#buttonu2468:hover #u2469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2468:hover #u2469-4 p
{
	color: #42410B;
	visibility: inherit;
}

#buttonu2462.ButtonSelected #u2463-4 p,#buttonu2468.ButtonSelected #u2469-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu2444
{
	z-index: 135;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 111px;
}

#buttonu2444:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2445-4
{
	z-index: 136;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2468.ButtonSelected #u2469-4,#buttonu2444:hover #u2445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450
{
	z-index: 140;
	width: 98px;
	padding-bottom: 4px;
	position: fixed;
	top: 2px;
	right: 5px;
}

#buttonu2444.ButtonSelected,#buttonu2450:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2450.ButtonSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2451-4
{
	z-index: 141;
	width: 61px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18.37%;
}

#buttonu2444.ButtonSelected #u2445-4,#buttonu2450:hover #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#buttonu2450.ButtonSelected #u2451-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 10px -10000px 0px 0%;
}

#u2194
{
	z-index: 44;
	height: 88px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2188
{
	z-index: 45;
	width: 315px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 50%;
	left: -130px;
}

#pu2150-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 36.51%;
	margin-left: 31.75%;
}

#u2150-4
{
	z-index: 68;
	position: relative;
	margin-left: 0%;
	left: -54px;
}

#u2148
{
	z-index: 62;
	height: 14px;
	width: 69px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -112px;
}

#u2144-6
{
	z-index: 46;
	margin-top: 12px;
	position: relative;
	margin-left: 0%;
	left: -100px;
}

#u2151
{
	z-index: 72;
	width: 83px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 50%;
	left: -69px;
}

#pu2149-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 53.97%;
	margin-left: 23.02%;
}

#u2149-4
{
	z-index: 64;
	position: relative;
	margin-left: 0%;
	left: 72.5px;
}

#u2147
{
	z-index: 59;
	height: 14px;
	width: 155px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2146
{
	z-index: 56;
	height: 16px;
	width: 155px;
	margin-top: 5px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

#u2145
{
	z-index: 53;
	height: 14px;
	width: 170px;
	margin-top: 2px;
	position: relative;
	margin-left: 50%;
	left: -12.5px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 114px;
}

#u3245_img
{
	width: 100%;
}

